body{
    background: #F2F2F2;
}
header{
   
    /*height: 92px;*/
    width: 100%;
    height: 5%;
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #7828B4;
}
main{
    max-width: 1200px;
    width: 100%;
    min-height: 89%;
    margin: 0px auto;
  
}
.logobox{
    display:inline-block;
    width: 30%;
    margin: 0px -2px;
    vertical-align: top;
}
.searchbox{
    display:inline-block;
    width: 70%;
    margin: 0px -2px;
    vertical-align: top;
}
.logo{
    font-family: Optima-ExtraBlack;
    font-size: 36px;
    line-height: 45px;
    color:#FFFFFF;
    margin: 0px 20%;
}
.search {
    width: 60%;
    color: #FFFFFF;
    padding: 5px;
    margin: 5px 0px;
    border-bottom: 1px solid #FFFFFF;
}
.search .fa-search{
    padding-right: 10px;
}
.search input#search{
    width: 80%;
    font-family: Roboto-Italic;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    font-style:italic;
    line-height: 24px;
    color: rgba(255,255,255,0.50);
}
.meunbox{
    display:inline-block;
    width: 30%;
    margin: 0px -2px;
    vertical-align: top;
}
.meun{
    margin: 0px 10%;
    background: #EBEBEB;
}
.locationbox,.datebox,.categoriesbox{
    padding: 20px 30px;
    border-bottom: 1px solid #D7D7D7;
}
.meun .title{
    margin: 10px 0px;
    font-family: Roboto-Bold;
    font-size: 20px;
    font-weight:bold;
    color: #000000;
}
.tipe{
    width: 10%;
    display: none;
}
.meun .datename{
    display:inline-block;
    width: 20%;
    vertical-align: top;
    margin-right: 10px;
    padding: 10px 0px;
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    text-align: right;
}
.meun select{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.meun input#from,.meun input#to{
    width: 70%;
    height: 40px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.mainbox{
    display:inline-block;
    width: 70%;
    margin: 0px -2px;
    vertical-align: top;
}
.mainbox .show-results{
    margin-top:20px;
    font-family: Roboto-Regular;
    font-size: 24px;
    color: #000000;
}
.mainbox .show-results b{
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #9013FE;
    line-height: 28px;
    font-weight:bold;
}
.mainbox .allshowbox{
}
.mainbox .showbox{
    margin: 20px auto;
    background-color: #FFFFFF;
}
.showbox .image{
    display:inline-block;
    width: 30%;
    margin: 0px -2px;
    vertical-align: top;
}
.showbox .image img{
    width: 100%;
}
.showbox .infobox{
    display:inline-block;
    width: 70%;
    margin: 0px -2px;
    vertical-align: top;
}
.infobox .info{
    padding: 20px;
}
.info h1{
    font-family: Roboto-Bold;
    font-size: 24px;
    font-weight:bold;
    line-height: 36px;
    color: #9013FE;
}
.info p{
    height: 50px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    overflow: hidden;
    text-overflow:ellipsis;
}
.box01,.box02{
    margin: 10px 0px;
}
.locationzone{
    display: inline;
    margin: 10px auto;
    margin-right: 20px;
    font-family: Roboto-Bold;
    font-size: 16px;
    font-weight:bold;
    color: #000000;
}
.categoriesname{
    height: 24px;
    display: inline;
    margin: 10px auto;
    padding: 2px 10px;
    color: #FFFFFF;
    background: #D7D7D7;
    border-radius: 100px;
}
.locationname{
    display: inline;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #9B9B9B;
    margin-right: 10px;
}
.date{
    display: inline;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #9B9B9B;
}
.fa-calendar-alt,.fa-map-marker-alt{
    color: #000000;
    margin-right: 10px;
}
.pagebox {
    text-align: right;
    margin:20px;
}
.pagebox div{
    display: inline-block;
    margin: 0px -2px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    border: 1px solid #ECEEEF;
    text-align: center;
    cursor:pointer ;
}
.pagebox .previous,.pagebox .next{

}
.pagebox .active{
    font-family: HelveticaNeue;
    font-size: 16px;
    color: #FFFFFF; 
    background: #9013FE;
    border: 1px solid #9013FE;
}

@media only screen and (min-device-width : 414px) and (max-device-width : 768px),(max-width: 768px)
{
    .logobox {
        width: 40%;
    }
    .searchbox {
        width: 60%;
    }
    .meun {
        margin: 0px;
    }
    .meunbox {
        width: 30%;
    }
    .mainbox {
        width: 60%;
        margin: 0px 0%;
        padding-left: 50px;
    }
    .search {
        width: 80%;
        margin: 0px auto;
    }
    .showbox .image {
        width: 100%;
        height: 196px;
        overflow: hidden;
    }
    .showbox .infobox {
        width: 100%;
    }
    .locationname{
        display: block;
    }
}
@media only screen and (max-device-width : 413px),(max-width: 413px)
{
    header{
        height: auto;
    }
    .logobox {
        width: 100%;
        text-align: center;
    }
    .searchbox {
        width: 100%;
    }
    .search{
        margin: 0px auto;
    }
    .meunbox{
        display: block;
        width: 100%;
        margin: 0px;
    }
    .mainbox{
        width: 100%;
        margin: 0px;
        padding-left:0px
    }
    .tipe{
        width: 10%;
        display: inline-block;
        float: right;
        text-align: right;
        font-weight:bold;
        color: #9B9B9B;
    }
    .datemobile,.categoriesmobile{
        display:none;
    }
    .show-results{
        display:none;
    }
    .allshowbox{
        width: 80%;
        margin: 0px auto;
    }
    .showbox .image {
        width: 100%;
        height: 196px;
        overflow: hidden;
    }
    .showbox .infobox {
        width: 100%;
    }
    .box01{
        margin: 20px 0px;
    }
    .locationzone{
        margin-right: 5px;
    }

    .locationname,.date{
        display: block;
        margin: 5px 0px;
    }
}